<!DOCTYPE html>
<html>
<head>
    <title>Método Simplex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Introduce los datos para el método Simplex:</h2>
        <form action="/simplex" method="post" class="mt-4">
            <div class="form-group">
                <label for="c1">c1:</label>
                <input type="text" class="form-control" id="c1" name="c1">
            </div>
            <div class="form-group">
                <label for="c2">c2:</label>
                <input type="text" class="form-control" id="c2" name="c2">
            </div>
            <div class="form-group">
                <label for="a11">a11:</label>
                <input type="text" class="form-control" id="a11" name="a11">
            </div>
            <div class="form-group">
                <label for="a12">a12:</label>
                <input type="text" class="form-control" id="a12" name="a12">
            </div>
            <div class="form-group">
                <label for="b1">b1:</label>
                <input type="text" class="form-control" id="b1" name="b1">
            </div>
            <div class="form-group">
                <label for="a21">a21:</label>
                <input type="text" class="form-control" id="a21" name="a21">
            </div>
            <div class="form-group">
                <label for="a22">a22:</label>
                <input type="text" class="form-control" id="a22" name="a22">
            </div>
            <div class="form-group">
                <label for="b2">b2:</label>
                <input type="text" class="form-control" id="b2" name="b2">
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>
    </div>
</body>
</html>
